@font-face {
  font-family: 'Arial-MT';
  src: url('../assets/fonts/Arial-MT.woff'); /* Путь к файлу со шрифтом */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 480px;
  min-height: 100vh;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  color: #fff;
  text-align: center;
  background: center/cover, rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
  transition: background-image 1s ease-in-out;
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 30vh;
  min-height: 220px;
  padding: 20px;
}

.player {
  user-select: none;
  z-index: 1;
}

.player-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 200px;
  margin: 0 auto 18px;
}

.volume-controls {
  display: flex;
  align-items: center;
}

.volume-button {
  display: inline-block;
  min-width: 20px;
  padding-top: 2px;
  text-align: left;
  opacity: 0.8;
  cursor: pointer;
  transition: 0.3s;
}

.volume-bar {
  width: 50px;
  height: 5px;
  margin-left: 4px;
  border-radius: 2px;
  background-color: #fff;
  opacity: 0.8;
  cursor: pointer;
  transition: 0.3s;
}

.volume-value {
  width: 50%;
  height: 5px;
  border-radius: 2px;
  background-color: #c5b358;
  opacity: 0.8;
  transition: width 0.1s;
}

.player-progress_bar {
  display: flex;
  margin-bottom: 15px;
}

.player-progress_info {
  display: flex;
  flex-direction: column;
}

.player-song_name {
  margin-bottom: 5px;
  min-height: 14px;
  font-size: 12px;
  opacity: 0.8;
}

.player-timeline {
  width: 145px;
  height: 9px;
  margin-right: 5px;
  border-radius: 2px;
  background-color: #fff;
  opacity: 0.8;
  cursor: pointer;
}

.player-progress {
  width: 0%;
  height: 9px;
  /* margin-right: 5px; */
  border-radius: 2px;
  background-color: #c5b358;
  opacity: 0.8;
  transition: width 0.1s;
}

.player-time_values {
  display: flex;
  justify-content: space-between;
  align-self: end;
  min-width: 60px;
  margin-bottom: -3px;
  font-size: 12px;
  opacity: 0.8;
}

.play-list {
  text-align: left;
}

.play-item {
  display: flex;
  align-items: center;
  /* position: relative; */
  padding: 5px;
  padding-left: 0px;
  list-style: none;
  opacity: 0.8;
  cursor: pointer;
  transition: 0.3s;
}

.play-item:hover {
  opacity: 1;
}

.play-item_btn {
  display: inline-block;
  font-size: 20px;
  padding-right: 5px;
  /* content: "\2713";   */
  /* background-image: url("../assets/svg/play.svg");
  background-size: 20px 20px;
  width: 20px;
  height: 20px;
  margin-right: 8px; */
  /* transform: scale(0.3); */
  /* position: absolute;
  left: -20px;
  top: -20px; */
  /* font-weight: 900; */
}

.play-item_btn_pause {
  background-image: url('../assets/svg/pause.svg');
}

.play-item_btn:active {
  border: 0;
  outline: 0;
  transform: scale(1.1);
}

.item-active {
  color: #c5b358;
}

.player-icon,
.slider-icon,
.change-quote {
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  outline: 0;
  opacity: 0.8;
  cursor: pointer;
  transition: 0.3s;
}

.player-icon:hover,
.slider-icon:hover,
.change-quote:hover,
.settings-btn:hover,
.todo-list_icon:hover,
.github-link:hover,
.rss-link:hover,
.player-timeline:hover,
.volume-button:hover,
.volume-bar:hover,
.settings-option:hover,
.settings-tag-clear:hover,
.todo-text:hover,
.todo-checkbox:hover,
.todo-list-item:hover > .todo-trashcan:hover,
.todo-add:hover {
  opacity: 1;
}

.player-icon:active,
.slider-icon:active,
.change-quote:active,
.settings-btn:active,
.todo-list_icon:active,
.github-link:active,
.rss-link:active,
.volume-button:active,
.settings-tag-clear:active,
.todo-checkbox:active,
.todo-trashcan:active,
.todo-add:active {
  border: 0;
  outline: 0;
  transform: scale(1.1);
}

.player-timeline:active .player-progress {
  border: 0;
  outline: 0;
  opacity: 1;
  transform: scaleY(1.3);
}

.play {
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
  background-image: url('../assets/svg/play.svg');
}

.pause {
  background-image: url('../assets/svg/pause.svg');
}

.play-prev {
  background-image: url('../assets/svg/play-prev.svg');
}

.play-next {
  background-image: url('../assets/svg/play-next.svg');
}

.weather {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  row-gap: 5px;
  width: 180px;
  min-height: 180px;
  text-align: left;
}

.weather-error {
  margin-top: -10px;
}

.description-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  column-gap: 12px;
}

.weather-icon {
  font-size: 44px;
}

.city {
  width: 170px;
  height: 34px;
  padding: 5px;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #fff;
  background-color: transparent;
}

.city::placeholder {
  font-size: 20px;
  color: #fff;
  opacity: 0.6;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40vh;
  min-height: 260px;
  padding: 20px;
}

.slider-icon {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  cursor: pointer;
}

.slide-prev {
  left: 20px;
  background-image: url('../assets/svg/slider-prev.svg');
}

.slide-next {
  right: 20px;
  background-image: url('../assets/svg/slider-next.svg');
}

.time {
  min-height: 124px;
  margin-bottom: 10px;
  font-family: 'Arial-MT';
  font-size: 100px;
  letter-spacing: -4px;
}

.date {
  min-height: 28px;
  font-size: 24px;
  margin-bottom: 20px;
}

.greeting-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 48px;
  width: 100vw;
  font-size: 40px;
}

.greeting {
  /* flex: 1;   */
  padding: 10px;
  text-align: right;
}

.name {
  /* flex: 1; */
  max-width: 50%;
  box-sizing: content-box;
  padding: 10px;
  font-size: 40px;
  text-align: left;
  color: #fff;
  background-color: transparent;
  border: 0;
  outline: 0;
}

.name::placeholder {
  color: #fff;
  opacity: 0.6;
}

.name-width {
  display: inline-block;
  position: absolute;
  visibility: hidden;
  white-space: pre;
}

.footer {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  align-items: end;
  width: 100%;
  height: 30vh;
  min-height: 160px;
  padding: 20px;
}

.settings-container {
  width: 205px;
  height: 61px;
  text-align: left;
  position: relative;
  z-index: 2;
}

.settings {
  position: absolute;
  bottom: 66px;
  left: 35px;
  width: 280px;
  /* height: 400px; */
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 25px;
  transition: opacity 0.3s, visibility 0s;
}

.settings-hidden {
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s, visibility 0s 0.3s;
}

.settings-section {
  display: flex;
  justify-content: space-between;
}

.settings-header {
  font-weight: 400;
  opacity: 0.9;
}

.settings-section:not(:last-child) {
  margin-bottom: 20px;
}

.settings-options {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.settings-option {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
  opacity: 0.8;
  transition: 0.3s;
}

.settings-option:not(:last-child) {
  margin-bottom: 10px;
}

.settings-toggle {
  display: inline-flex;
  align-items: center;
  width: 40px;
  height: 20px;
  padding: 0 3px;
  margin-left: 5px;
  background-color: rgba(220, 220, 220);
  border-radius: 10px;
  /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
  box-shadow: rgba(10, 37, 64, 0.35) 0px 0px 6px 0px inset;
  transition: 0.2s;
}

.settings-toggle-active {
  /* justify-content: end; */
  background-color: #c5b358;
}

.settings-toggle-inner {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #fff;
  transition: 0.2s;
}

.settings-toggle-active > .settings-toggle-inner {
  margin-left: 18px;
}

.settings-tag {
  display: inline-block;
  width: 150px;
  /* height: 34px; */
  margin-bottom: -15px;
  padding-right: 25px;
  padding-bottom: 3px;
  font-size: 18px;
  line-height: 24px;
  text-align: right;
  color: #fff;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #fff;
  background-color: transparent;
  /* opacity: 0.9; */
}

.settings-tag::placeholder {
  font-size: 16px;
  color: #fff;
  opacity: 0.7;
}

.settings-tag-clear {
  position: relative;
  bottom: 9px;
  right: 7px;
  font-size: 18px;
  opacity: 0.9;
  cursor: pointer;
}

.settings-tag-clear_disabled {
  cursor: default;
}

.settings-tag-clear_disabled:hover {
  opacity: 0.9;
}

.settings-tag-clear_disabled:active {
  transform: scale(1);
}

.settings-btn {
  font-size: 40px;
  opacity: 0.7;
  cursor: pointer;
  transition: 0.3s;
}

.quote-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  /* width: 100%; */
  /* height: 30vh; */
  /* min-height: 160px;   */
  /* padding: 20px; */
}

.change-quote {
  margin-bottom: 30px;
  background-image: url('../assets/svg/reload.svg');
}

.quote {
  font-size: 20px;
  min-height: 32px;
  margin-bottom: 10px;
}

.author {
  min-height: 20px;
}

.footer-links {
  display: flex;
  /* align-items: end; */
}

.todo-list-container {
  position: relative;
}

.todo-list_icon {
  font-size: 35px;
  opacity: 0.7;
  cursor: pointer;
  transition: 0.3s;
}

.todo-list {
  position: absolute;
  bottom: 66px;
  left: -125px;
  width: 280px;
  /* height: 400px; */
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 25px;
  transition: opacity 0.3s, visibility 0s;
}

.todo-hidden {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0s 0.3s;
}

.todo-header {
  margin-bottom: 5px;
  font-size: 25px;
  font-weight: 400;
  text-align: right;
  opacity: 0.6;
}

.todo-list-todo {
  min-height: 120px;
  text-align: left;
  list-style: none;
}

.todo-list-todo_done {
  color: #c5b358;
  /* opacity: 0.7; */
}

.todo-list-item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.todo-text {
  opacity: 0.8;
  transition: 0.3s;
}

.todo-list-todo_done .todo-text {
  text-decoration: line-through;
}

.todo-checkbox {
  margin-right: 5px;
  /* font-size: 15px; */
  opacity: 0.8;
  cursor: pointer;
  transition: 0.3s;
}

.todo-trashcan {
  margin-left: auto;
  margin-right: 15px;
  /* font-size: 15px; */
  opacity: 0;
  cursor: pointer;
  transition: 0.3s;
}

.todo-list-item:hover > .todo-trashcan {
  opacity: 0.5;
}

.todo-input-container {
  position: relative;
  text-align: left;
}

.todo-add {
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 25px;
  opacity: 0.8;
  cursor: pointer;
}

.todo-input {
  /* display: inline-block; */
  width: 100%;
  /* height: 34px; */
  margin-bottom: 10px;
  padding-left: 5px;
  padding-right: 27px;
  padding-bottom: 3px;
  font-size: 18px;
  line-height: 24px;
  /* text-align: right; */
  color: #fff;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #fff;
  background-color: transparent;
  /* opacity: 0.9; */
}

.todo-input::placeholder {
  font-size: 16px;
  color: #fff;
  opacity: 0.7;
}

.github-link {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  font-size: 18px;
  text-decoration: none;
  color: #fff;
  opacity: 0.7;
  transition: 0.3s;
}

.github-icon {
  font-size: 40px;
}

.rss-link {
  display: inline-block;
  width: 100px;
  /* height: 40px; */
  margin-left: 10px;
  background-image: url(../assets/svg/rss.svg);
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.7;
  transition: 0.3s;
}

.widget {
  transition: opacity 0.5s, visibility 0s;
}

.hidden {
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s, visibility 0s 0.5s;
}

@media (max-width: 768px) {
  .time {
    min-height: 80px;
    font-size: 72px;
  }

  .greeting-container {
    min-height: 40px;
    font-size: 32px;
  }

  .greeting {
    padding: 5px;
  }

  .name {
    font-size: 32px;
    padding: 5px;
  }
}
